.register-page {
  background-color: #1f2029;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  width: 100%;
  max-width: 450px;
  background-color: #222222;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  color: #c4c3ca;
  position: relative;
}

.register-card {
  text-align: center;
}

.register-toggle-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.register-toggle-buttons button {
  background: none;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  color: #c4c3ca;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.register-toggle-buttons button.active {
  border-bottom: 2px solid #A2D5C6;
  color: #A2D5C6;
}

.register-form-group {
  position: relative;
  margin: 20px 0;
}

.register-form-style {
  width: 100%;
  padding: 13px 20px 13px 50px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #1f2029;
  color: #c4c3ca;
  border: none;
  outline: none;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #A2D5C6;
  font-size: 20px;
}

.register-btn {
  margin-top: 20px;
  width: 100%;
  background-color: #A2D5C6;
  color: #030303;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #CFFFE2;
  color: #A2D5C6;
}
